<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <div class="container">
          <div class="user-stories">
            <ol>
              <li>
                You can POST a URL to /api/shorturl and get a JSON response with
                original_url and short_url properties. Here's an example: {
                original_url : 'https://freeCodeCamp.org', short_url : 1}
              </li>
              <li>
                When you visit /api/shorturl/:short_url, you will be redirected
                to the original URL.
              </li>
              <li>
                If you pass an invalid URL that doesn't follow the valid
                http://www.example.com format, the JSON response will contain {
                error: 'invalid url' }
              </li>
            </ol>
          </div>
          <form action="api/shorturl" method="POST">
            <fieldset>
              <legend>URL Shortener</legend>
              <label for="url_input">URL:</label>
              <input
                id="url_input"
                type="text"
                name="url"
                placeholder="https://www.freecodecamp.org/"
              />
              <input type="submit" value="POST URL" />
            </fieldset>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
    </footer>
  </body>
</html>
