/****** Main Styling ******/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fafafa;
  text-align: center;
  line-height: 1.4em;
}

.container {
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin-top: 30px;
}

hr {
  margin: 25px;
}

.footer {
  margin-top: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.5em 0;
}

a {
  color: #2574a9;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #87d37c;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type='submit'] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #e4f1fe;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #fffec4;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #fffec4;
  padding: 2px;
}
